
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

a {
    color: white;
}
a:hover {
    text-decoration: none;
    color: white;
}


//Header section

header {
    min-height: 70vh;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/Assets/studio\ background.jpg');
  background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    //navigation section 
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.911);
        color: white;
        padding: 20px;
        position: fixed;
        width: 100vw;
        z-index: 100;

        .logo {
            font-size: 28px;
            font-weight: bold;
        }

        .fa-solid, .fas {
            display: none;
        }

        ul {
            display: flex;
            margin: 0;
            li {
                list-style: none;
                margin: 0px 20px;
                font-weight: bold;
                cursor: pointer;
                transition: 0.3s ease;
            }
            :hover {
                color: rgba(255, 255, 255, 0.849);
            }
        }

        .social-icons {
            i {
                margin: 5px;
                cursor: pointer;
                transition: 0.3s ease;
            }
            :hover {
                color: #F20008;
            }
        }
    }


    //main content section 
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        color: white;
        width: 100vw;
        min-height: 70vh;
        padding: 40px;
        padding-top: 10vh;

        .content {
            width: 600px;
            padding-bottom: 40px;

            h1 {
                font-size: 60px;
                font-weight: bold;
                padding-bottom: 20px;
            }

            p {
                font-size: 22px;
                padding-bottom: 20px;
            }

            a {
                background-color: #F20008;
                border: 2px solid #F20008;
                padding: 10px 15px;
                cursor: pointer;
                font-weight: bold;
                transition: 0.3s ease;
            }
            a:hover {
                background-color: transparent;
                border: 2px solid white;
            }
        }

        .playlist {
            padding: 40px;
            iframe {
                width: 600px;
            }
        }
    }
}


// Video section 

.video {
    min-height: 50vh;
    background-color: #202020;
    background-image: url('/Assets/triangles.png');
    text-align: center;
    color: white;
    padding-top: 40px;

    h1 {
        padding: 40px 0;
        font-size: 60px;
        font-weight: bold;
    }

    iframe {
        width: 80vw;
        height: 800px;
        padding: 0 40px 80px 40px;
    }
}

// Gallery section 

.gallery {
    background-color: #4C036B;
    background-image: url('/Assets/Vector\ 1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 40px;

    .carousel-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 100px;
        padding: 40px;

        .carousel-control-prev, .carousel-control-next{
            display: none;
        }
    }

    h1 {
        padding: 40px 0;
        font-size: 60px;
        font-weight: bold;
    }

    .carousel {
        width: 400px;
    }
}



// About section 

.about {
    min-height: 50vh;
    background-color: #202020;
    background-image: url('/Assets/Rectangle\ 6.png');
    background-position: 0px 300px;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px;
    padding-top: 60px;

    .about-content {
        width: 700px;
        padding: 20px;

        h1 {
            font-size: 60px;
            font-weight: bold;
            padding-bottom: 10px;
        }

        p {
            font-size: 18px;
            padding-bottom: 10px;
        }

        .social-icons {
            i {
                margin: 5px;
                cursor: pointer;
                transition: 0.3s ease;
            }
            :hover {
                color: #F20008;
            }
        }
    }

    img {
        width: 400px;
        padding: 80px 40px;
    }
}



// Contact section 

.contact {
    min-height: 50vh;
    color: white;
    background-color: #4C036B;
    background-image: url('/Assets/triangles.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .image {
        background-image: url('/Assets/Siya\ image.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 600px;
        min-height: 700px;
    }

    .contact-content {
        min-height: 700px;
        width: 600px;
        background-color: #202020;
        padding: 40px;

        h1 {
            font-size: 60px;
            font-weight: bold;
            padding-bottom: 10px;
        }

        p {
            font-size: 18px;
            padding-bottom: 10px;
        }

        form {
            display: flex;
            flex-direction: column;

            input {
                margin: 10px 0;
                padding: 10px;
            }

            #message {
                padding-bottom: 100px;
            }

            #button {
                width: 120px;
                color: white;
                font-weight: bold;
                background-color: #F20008;
                border: 2px solid #F20008;
                cursor: pointer;
                transition: 0.3s ease;
            }
            #button:hover {
                background-color: transparent;
                border: 2px solid white;
            }
        }
    }
}


// Footer section

footer {
    background-color: #202020;
    color: white;
    padding: 20px;
    text-align: center;

    h1 {
        font-size: 18px;
        font-weight: bolder;
        padding-bottom: 5px;
    }

    .social-icons {
        padding-bottom: 5px;
        i {
            margin: 5px;
            cursor: pointer;
            transition: 0.3s ease;
        }
        :hover {
            color: #F20008;
        }
    }

    p {
        font-size: 12px;
        font-weight:lighter;
    }
}







// -------------------iPad responsiveness ----------------------


@media screen and (max-width: 840px) {
    .contact .contact-content {
        h1 {
            font-size: 40px;
        }
    }
}






// -------------------Mobile responsiveness -------------------

@media screen and (max-width: 760px) {
    header {

        nav {
            //flex-direction: column;
            min-height: 12vh;
            ul {
                flex-direction: column;
                justify-content: space-around;
                position: absolute;
                height: 80vh;
                width: 100vw;
                z-index: 99;
                background-color: rgba(0, 0, 0, 0.911);
                top: 11vh;
                left: 0;
                text-align: center;
                padding: 40px;
                transform: translateY(-200%);
                transition: 0.9s ease;
            }
        }

        main {
            padding-top: 15vh;
            .content {
                width: 300px;
            }
            .playlist {
                iframe {
                    width: 300px;
                }
            }
        }

    }
    header main .content h1 {
        font-size: 40px;
    }
    header main .content p {
        font-size: 14px;
    }
    header main .playlist {
        padding: 0;
    }
    header nav .fa-solid {
        display: flex;
        padding: 10px;
    }
    .mobile {
        transform: translateY(0%);
    }

    //video section
    .video iframe {
        width: 300px;
        height: 250px;
        padding: 0px 0 40px 0;
    }
    .video h1 {
        font-size: 40px;
    }
    .video {
        padding-top: 60px;
    }


    //gallery section 
    
    .gallery h1 {
        font-size: 40px;
        padding-bottom: 0;
    }
    .gallery {
        padding-top: 60px;
        .carousel {
            width: 300px;
        }
    }
    .gallery .carousel-container {
        padding: 20px;
    }


    //about section
    .about img {
        width: 300px;
        padding: 10px 0;
    }
    .about .about-content h1 {
        font-size: 40px;
    }
    .about .about-content p {
        font-size: 14px;
    }
    .about {
        padding-top: 90px;
    }


    //contact section 
    .contact .image {
        display: none;
    }
    .contact .contact-content {
        width: 300px;
        min-height: 400px;
    }
    .contact .contact-content h1 {
        font-size: 30px;
    }
    .contact .contact-content p {
        font-size: 14px;
    }
} 

