* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

header {
  min-height: 70vh;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("/Assets/studio background.jpg");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/Assets/studio background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.911);
  color: white;
  padding: 20px;
}

header nav .logo {
  font-size: 28px;
  font-weight: bold;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

header nav ul li {
  list-style: none;
  margin: 0px 20px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

header nav ul :hover {
  color: rgba(255, 255, 255, 0.849);
}

header nav .social-icons i {
  margin: 5px;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

header nav .social-icons :hover {
  color: #F20008;
}

header main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
  width: 100vw;
  min-height: 70vh;
  padding: 40px;
}

header main .content {
  width: 600px;
  padding-bottom: 40px;
}

header main .content h1 {
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 20px;
}

header main .content p {
  font-size: 22px;
  padding-bottom: 20px;
}

header main .content a {
  background-color: #F20008;
  border: 2px solid #F20008;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

header main .content a:hover {
  background-color: transparent;
  border: 2px solid white;
}

header main .playlist {
  padding: 40px;
}

header main .playlist iframe {
  width: 600px;
}

.video {
  min-height: 50vh;
  background-color: #202020;
  background-image: url("/Assets/triangles.png");
  text-align: center;
  color: white;
}

.video h1 {
  padding: 40px 0;
  font-size: 60px;
  font-weight: bold;
}

.video iframe {
  width: 80vw;
  height: 800px;
  padding: 0 40px 80px 40px;
}

.gallery {
  background-color: #4C036B;
  background-image: url("/Assets/Vector 1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.gallery .carousel-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 100px;
  padding: 40px;
}

.gallery .carousel-container .carousel-control-prev, .gallery .carousel-container .carousel-control-next {
  display: none;
}

.gallery h1 {
  padding: 40px 0;
  font-size: 60px;
  font-weight: bold;
}

.gallery .carousel {
  width: 400px;
}

.about {
  min-height: 50vh;
  background-color: #202020;
  background-image: url("/Assets/Rectangle 6.png");
  background-position: 0px 300px;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
}

.about .about-content {
  width: 700px;
  padding: 20px;
}

.about .about-content h1 {
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 10px;
}

.about .about-content p {
  font-size: 18px;
  padding-bottom: 10px;
}

.about .about-content .social-icons i {
  margin: 5px;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.about .about-content .social-icons :hover {
  color: #F20008;
}

.about img {
  width: 400px;
  padding: 80px 40px;
}

.contact {
  min-height: 50vh;
  color: white;
  background-color: #4C036B;
  background-image: url("/Assets/triangles.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact .image {
  background-image: url("/Assets/Siya image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 600px;
  min-height: 700px;
}

.contact .contact-content {
  min-height: 700px;
  width: 600px;
  background-color: #202020;
  padding: 40px;
}

.contact .contact-content h1 {
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 10px;
}

.contact .contact-content p {
  font-size: 18px;
  padding-bottom: 10px;
}

.contact .contact-content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .contact-content form input {
  margin: 10px 0;
  padding: 10px;
}

.contact .contact-content form #message {
  padding-bottom: 100px;
}

.contact .contact-content form #button {
  width: 120px;
  color: white;
  font-weight: bold;
  background-color: #F20008;
  border: 2px solid #F20008;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.contact .contact-content form #button:hover {
  background-color: transparent;
  border: 2px solid white;
}

footer {
  background-color: #202020;
  color: white;
  padding: 20px;
  text-align: center;
}

footer h1 {
  font-size: 18px;
  font-weight: bolder;
  padding-bottom: 5px;
}

footer .social-icons {
  padding-bottom: 5px;
}

footer .social-icons i {
  margin: 5px;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

footer .social-icons :hover {
  color: #F20008;
}

footer p {
  font-size: 12px;
  font-weight: lighter;
}

@media screen and (max-width: 840px) {
  .contact .contact-content h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) {
  header nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header main .content {
    width: 300px;
  }
  header main .playlist iframe {
    width: 300px;
  }
  header main .content h1 {
    font-size: 40px;
  }
  header main .content p {
    font-size: 14px;
  }
  header main .playlist {
    padding: 0;
  }
  .video iframe {
    width: 300px;
    height: 250px;
    padding: 0px 0 40px 0;
  }
  .video h1 {
    font-size: 40px;
  }
  .gallery h1 {
    font-size: 40px;
    padding-bottom: 0;
  }
  .gallery .carousel {
    width: 300px;
  }
  .gallery .carousel-container {
    padding: 20px;
  }
  .about img {
    width: 300px;
    padding: 10px 0;
  }
  .about .about-content h1 {
    font-size: 40px;
  }
  .about .about-content p {
    font-size: 14px;
  }
  .contact .image {
    display: none;
  }
  .contact .contact-content {
    width: 300px;
    min-height: 400px;
  }
  .contact .contact-content h1 {
    font-size: 30px;
  }
  .contact .contact-content p {
    font-size: 14px;
  }
}
/*# sourceMappingURL=styles.css.map */