
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


//Header section

header {
    min-height: 70vh;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/Assets/studio\ background.jpg');
  background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    //navigation section 
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.911);
        color: white;
        padding: 5px;

        .logo {
            font-size: 28px;
            font-weight: bold;
        }

        ul {
            display: flex;
            margin: 0;
            li {
                list-style: none;
                margin: 0px 20px;
                font-weight: bold;
                cursor: pointer;
                transition: 0.3s ease;
            }
            :hover {
                color: rgba(255, 255, 255, 0.849);
            }
        }

        .social-icons {
            i {
                margin: 5px;
                cursor: pointer;
                transition: 0.3s ease;
            }
            :hover {
                color: rgba(255, 255, 255, 0.849);
            }
        }
    }


    //main content section 
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        color: white;
        width: 100vw;
        min-height: 70vh;

        .content {
            width: 700px;

            h1 {
                font-size: 60px;
                font-weight: bold;
                padding-bottom: 20px;
            }

            p {
                font-size: 22px;
                padding-bottom: 20px;
            }

            a {
                background-color: #F20008;
                border: 2px solid #F20008;
                padding: 10px 15px;
                cursor: pointer;
                font-weight: bold;
                transition: 0.3s ease;
            }
            a:hover {
                background-color: transparent;
                border: 2px solid white;
            }
        }

        .playlist {
            padding: 40px;
            iframe {
                width: 700px;
            }
        }
    }
}


// Video section 

.video {
    min-height: 50vh;
    background-color: #202020;
    background-image: url('/Assets/triangles.png');
    text-align: center;
    color: white;

    h1 {
        padding: 40px 0;
        font-size: 60px;
        font-weight: bold;
    }

    iframe {
        width: 900px;
        height: 600px;
        padding-bottom: 80px;
    }
}

// Gallery section 

.gallery {
    background-color: #4C036B;
    background-image: url('/Assets/Vector\ 1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    .carousel-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 100px;
        padding: 40px;

        .carousel-control-prev, .carousel-control-next{
            display: none;
        }
    }

    h1 {
        padding: 40px 0;
        font-size: 60px;
        font-weight: bold;
    }

    .carousel {
        width: 500px;
    }
}



// About section 

.about {
    min-height: 50vh;
    background-color: #202020;
    background-image: url('/Assets/Rectangle\ 6.png');
    background-position: 0px 300px;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px;

    .about-content {
        width: 700px;
        padding: 20px;

        h1 {
            font-size: 60px;
            font-weight: bold;
            padding-bottom: 10px;
        }

        p {
            font-size: 18px;
            padding-bottom: 10px;
        }

        .social-icons {
            i {
                margin: 5px;
                cursor: pointer;
                transition: 0.3s ease;
            }
            :hover {
                color: rgba(255, 255, 255, 0.849);
            }
        }
    }

    img {
        width: 400px;
        padding: 80px 40px;
    }
}